@import "tailwindcss";

body {
  background: #0f1824;
}

.swiper-pagination-bullet {
  background: #bbb;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #333;
}

.ri-menu-line {
  font-size: 25px;
  display: none;
}

@media (max-width: 1000px) {
  .Navbar .leftNavbar ul {
    display: none;
  }

  .leftNavbar {
    gap: 12px;
  }

  .ri-menu-line {
  display: block;
  }

  .rightNavbar button {
    font-size: 10px;
  }

  .rightNavbar {
    gap: 12px;
  }

}

@media (max-width: 835px) {

}
