@import "tailwindcss";

body {
  background: #0f1824;
}

.manuBarIcon {
  display: none;
}

@media (max-width: 1030px) {
  nav .leftNavbar ul {
    display: none;
  }

  .leftNavbar {
    gap: 12px;
  }

  .manuBarIcon {
  display: block;
  }
}

@media (max-width: 790px) {
  .callBackIcon {
    display: none;
  }
}
